{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}
<h2>Geofences </h2>
<br />

<form action="/gfhelper_results" method="get">
<table><tr><th>Name</th><th>Select</th></tr>
{% for name in fences %}
<tr><td>{{name}}</td><td><input type="checkbox" name="{{name}}"></td></tr>
{% endfor %}
</table><br />
<select name = "mode">
	<option value = "pokealarm">PokeAlarm / MAD named fence</option>
    <option value = "pmsf">PMSF (php named)</option>
    <option value = "pmsfarray">PMSF (php array)</option>
    <option value = "poracle">Poracle / ccev *watcher (individual)</option>
    <option value = "poracle_merged">Poracle / ccev *watcher (merged as list of dicts)</option>
    <option value = "geojson">Basic geoJson (individual)</option>
    <option value = "geojson_merged">Basic geoJson (merged as FeatureCollection)</option>
    <option value = "sqlpolygon">SQL Polygon</option>
</select>
<select name = "type">
	<option value = "pp">PrettyPrint</option>
    <option value = "copy">Copy from browser</option>
    <option value = "script">Scriptable (curl/wget/...)</option>
</select>
<input type="submit" value="Submit">
</form>
{% endblock %}
